@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.wrapper {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	
}
.page-lesson {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}
.page-lesson__title{
	font-size: 30px;
	text-align: center;
	font-weight: 700;
}
.page-lesson__title:not(:last-child){
	margin-bottom: 30px;
}
.page-lesson__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	justify-content: center;
}
.page-lesson__item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: solid 1px #635c5c;
	border-radius: 5px;
	padding: 10px;
}
.item-lesson__title {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
.item-lesson__text {
	flex: 1 1 auto;
}
.item-lesson__link {
	display: inline-block;
	background-color: blue;
	color: #ffffff;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
	max-width: 150px;
	margin: 0 auto;
	transition: background-color 0.3s ease;
}
.item-lesson__link:hover{
	background-color: rgb(12, 12, 96);
}
